<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>后台管理页面</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/backmanage.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">后台管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="" class="current">用户管理</a></li>
                <li><a href="/admin/blog/">博客管理</a></li>
                <li><a href="/admin/category/">类别管理</a></li>
                <li><a href="/admin/comment/">评论管理</a></li>
                <li><a href="/admin/image/">图片管理</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-md-12">
        <div class="page-header">用户管理</div>
        <ul class="nav nav-tabs">
            <li><a href="/admin/user/all">用户列表</a></li>
            <li class="active"><a>用户搜索</a></li>
            <li><a href="/admin/user/addPre">用户添加</a></li>
        </ul>
        <form action="/admin/user/search" method="get" class="form-horizontal" role="form" style="padding: 40px 0 0 0">
            <div class="form-group">
                <label for="select" class="col-sm-1 control-label">选择搜索字段</label>
                <div class="col-sm-9">
                    <select id="select" class="form-control" name="column">
                        <option value="id">ID</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="data" class="col-sm-1 control-label">字段值</label>
                <div class="col-sm-9">
                    <input class="form-control" id="data" type="text" name="id" placeholder="请输入对应的字段值">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                    <button type="submit" class="btn btn-success">搜索</button>
                </div>
            </div>
        </form>
        <table class="table" th:if="${user} ne null">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>密码</th>
                <th>简介</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row" th:text="${user.getId()}"></th>
                    <td th:text="${user.getName()}"></td>
                    <td th:text="${user.getPassword()}"></td>
                    <td th:text="${user.getIntroduction()}"></td>
                    <td th:text="${user.getRegisterTime()}"></td>
                    <td>
                        <div role="presentation" class="dropdown">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                操作<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{updatePre(id=${user.getId()})}">修改信息</a></li>
                                <li><a th:href="@{delete(id=${user.getId()})}">删除用户</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</html>