<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boli.blog.dao.ImageDao">

    <resultMap id="imageAndUser" type="boli.blog.entity.Image">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="uploadTime" property="uploadTime" />
        <result column="userId" property="userId" />
        <association property="user" column="userId" select="boli.blog.dao.UserDao.selectById" javaType="boli.blog.entity.User"/>
    </resultMap>

    <select id="selectAll" resultMap="imageAndUser">
        select * from image
    </select>

    <select id="selectById" resultType="boli.blog.entity.Image">
        select * from image where id=#{id}
    </select>

    <select id="selectByUserId" resultType="boli.blog.entity.Image">
        select * from image where userId=#{userId}
    </select>

    <insert id="insert">
        insert into image(name,uploadTime,userId) values(#{name},#{uploadTime},#{userId})
    </insert>

    <delete id="delete">
        delete from image where id=#{id}
    </delete>

</mapper>